{% include 'header.html' %}
<h1>RebSearch</h1>



<h2>Dropbox Shenanigans</h2>
	<dd><p>Welcome {{account_info.display_name}}!</p></dd>
	<ul>
		<li><a href="/dropboxTesting">Stats</a></li>
	</ul>
<h2>Zotero Sandboxing</h2>
	<dd><p>Welcome user {{ZOTERO_USER_ID}}!</p></dd>
	<ul>
		<li><a href="/zoteroTesting">Most Recently Modified Citation</a></li>
		<li><a href="/fullIndexZotero">Create Fedora Objects from Zotero Citations</a></li>
		<li><a href="/writeExtraField">Utility to guess Dropbox filename, write to "extra" field in Zotero</a></li>		
	</ul>
<h2>Solr Sluething</h2>	
	<ul>
		<li><a href="/fullSolrIndex">Full Solr Index</a></li>
		<li><a href="/fullTextIndex">Full-Text Index</a></li>
		<li><a href="/solrSearch">Solr Search!</a></li>
	</ul>


